# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
egg_log.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Data files (raw & large processed)
# Ignored if you use DVC or external storage
data/*/*/raw/
data/*/*/processed/

# Model checkpoints
checkpoints/
logs/

# Temporary files
*.log
*.tmp

# SQLite database
*.db

# Misc
*.bak
*.swp
*.swo

